@import url(../../../../../assets/style/main.css);

.slide-container {
  margin: 0 30px;
  overflow: hidden;
  padding: 30px 0;
  background-color: #fff;
}
.simple-image-box .simple-image-box-container{
  width:135px;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all .2s linear;
  margin: auto;
}
.simple-image-box .simple-image-box-container:hover{
  filter:none;
  opacity: 1;
}
