/* Start Variables */
:root {
    /* main colors */
    --main-first-color: #3C43ED;
    --main-second-color: #ADF1D2;
    --white-color: #f2f2f2;
    
    /* buttons color */
    --btn-main-color: #F7F7F7;
    --btn-main-hover-color: rgba(0,0,0,.1);

    /* text colors */
    --text-main-color: #2F3238;
    --text-second-color: #888888;

    /* font size */
    --font-size--small: 13px;
    --font-size--medium: 20px;
    --font-size--large: 36px;
    --font-size-x-large: 42px;

    /* border radius */
    --main-border-radius: 4px;

      /* font */
      --header-main-font:'Epilogue', sans-serif;
      --text-font:'DM Sans', sans-serif;
}
/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--text-font);
    color: var(--text-main-color);
}
/* Start Global Rules */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
/* Medium */
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
/* Large */
@media (min-width: 1200px) {
    .container {
      width: 1260px;
    }
  }
/* End Global Rules */